$textColor: red;
$border-color: #e1e1e1;
$body-background: #fff;
$primary-gradient-color: #177afa;
$secondary-gradient-color: #03f0d1;
$cryptoki-gradient: linear-gradient(to right, $primary-gradient-color 20%, $secondary-gradient-color);
$contrast-text-color: #fff;
$secondary-accent-color: #0084ff;
