@keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    .rotate360 {
      animation: rotate 3s linear infinite; /* 使用 rotate 动画让图标无限循环旋转 */
    }