@tailwind base;
@tailwind components;
@tailwind utilities;

/* 单行省略号 */
.single-line-ellipsis {
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  /* 超二行省略号 */
  .multiline-two-ellipsis {
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  /* 超三行省略号 */
  .multiline-ellipsis {
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  /* 滚动条样式 */
::-webkit-scrollbar {
  @apply h-[6px] w-[6px] bg-gray-200 dark:bg-[#202124];
}
::-webkit-scrollbar-track {
  @apply bg-gray-200 dark:bg-[#202124];
}
::-webkit-scrollbar-thumb {
  @apply bg-orange-400 dark:bg-indigo-500;
}

@font-face {
  font-family: LXGW;
  /* src: url(https://sourcebucket.s3.bitiful.net/fonts/霞鹜文楷.woff2); */
  src: url('~/assets/fonts/霞鹜文楷.woff2');
  font-display: swap;
}

body,
html {
  cursor: url('~/assets/common/x1.cur'), auto;
  /* @apply font-mono; */
  font-family: LXGW, 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB',
    'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}

/* Header */
.header-nav.active {
  @apply bg-transparent hover:bg-[rgba(255,255,255,0.7)] dark:hover:bg-[rgba(38,38,38,0.7)];
}


html.light {
  @apply text-v-fontcolor bg-v-background;
}

html.dark {
  @apply text-v-fontcolor-dark bg-v-background-dark;
}